@model OrderDetailsCartViewModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form method="post">
    @if (Model.ShoopingCartsList.Count > 0)
    {
        <div class="white-Background">
            <div class="container">
                <div class="card">
                    <div class="card-header bg-dark text-light ml-0 row container">
                        <div class="col-6" style="color:#D6681C ;">
                            <i class="fas fa-shopping-cart" style="color:#A7D61C;"></i>&nbsp; &nbsp;Shopping Cart
                        </div>
                        <div class="col-6 text-right">
                            <a class="btn btn-outline-secondary btn-sm" asp-action="Index"
                               asp-controller="Home" asp-area="Customer">Continuer vos achats</a>
                        </div>
                    </div>

                    <div class="card-body">
                        @foreach (var item in Model.ShoopingCartsList)
                        {
                            <div class="row">
                                <div class="d-none d-lg-block col-lg-2 text-center py-2">
                                    <img src="@item.MenuItem.Image" class="rounded" height="80" width="120" />
                                </div>

                                <div class="col-12 text-sm-center col-lg-5 text-lg-left">
                                    <h4 class="text-info">@item.MenuItem.Name</h4>
                                    <h6><strong>@item.MenuItem.Description</strong></h6>
                                </div>
                                <div class="col-12 text-sm-center col-lg-5 text-lg-right row">
                                    <div class="col-4 text-md-right" style="padding-top:5px">
                                        <h6><strong>@item.MenuItem.Price <span class="text-muted">x</span> @item.Count</strong></h6>
                                    </div>
                                    <div class="col-6 col-sm-4 col-lg-6">
                                        <div class="float-right mx-1">
                                            <button type="submit" class="btn btn-primary" asp-action="Plus"
                                                    asp-route-cartId="@item.Id">
                                                <i class="fas fa-plus"></i>
                                            </button>
                                        </div>
                                        <div class="float-right mx-1">
                                            <button type="submit" class="btn btn-danger" asp-action="Minus"
                                                    asp-route-cartId="@item.Id">
                                                <i class="fas fa-minus"></i>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="col-2 col-sm-4 col-lg-2 text-right">
                                        <button type="submit" class="btn btn-danger" asp-action="Remove" asp-route-cartId="@item.Id">
                                            <i class="fas fa-trash-alt"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <hr />
                        }

                        <div class="row">
                            <div class="col-12 col-md-5">
                                <div class="row">
                                    <div class="col-7">
                                        <input id="textCouponCode" class="form-control"
                                               asp-for="@Model.OrderHeader.CouponCode" placeholder="Coupon code ..." />
                                    </div>
                                    <div class="col-5" style="margin-top:2px">
                                        <button type="submit" id="btnApplyCoupon" class="btn btn-outline-success btn-sm form-control" asp-action="ApplyCoupon">
                                            Appliquer
                                        </button>

                                        <button type="submit" id="btnRemoveCoupon" style="display:none" class="btn btn-outline-danger btn-sm form-control" asp-action="RemoveCoupon">
                                            Supprimer
                                        </button>
                                    </div>
                                </div>
                            </div>

                            <div class="col-12 col-md-6 offset-md-1 col-lg offset-lg-3 pr-4">
                                <ul class="list-group">
                                    <li class="list-group-item d-flex justify-content-between bg-light">
                                        <strong class="text-info"><span>Total (€)</span></strong>

                                        <strong class="text-info"><span>@Model.OrderHeader.OrderTotal</span> €</strong>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer" style="background: #6B7574">
                        <div class="col-12 col-lg-4 offset-lg-8 col-md-6 offset-md-6">
                            <a asp-action="Summary" asp-area="Customer" asp-controller="Carts"
                               class="btn btn-success form-control">Sommaire</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
    else
    {
        <div class="white-Background">
            <h4 class="text-danger"> Aucun article dans ce panier ...</h4>

        </div>
    }
</form>


@section Scripts{
    <script>

        $(function changeBtn(){
            var txtCouponCode = document.getElementById("textCouponCode").value;
            if (txtCouponCode.length > 0) {
                document.getElementById("btnApplyCoupon").style.display = 'none';
                document.getElementById("btnRemoveCoupon").style.display = '';
            }
            else {
                document.getElementById("btnApplyCoupon").style.display = '';
                document.getElementById("btnRemoveCoupon").style.display = 'none';
            }
        })

        document.getElementById('btnApplyCoupon').addEventListener('click', changeBtn);
        document.getElementById('btnRemoveCoupon').addEventListener('click', changeBtn);
    </script>

}